Flask>=3.0.2,<4
Flask-CORS>=4.0.0,<5
Flask-Limiter>=3.5,<4
python-dotenv>=1.0.1,<2
google-generativeai>=0.4.0,<1
Werkzeug>=3.0.1,<4
requests>=2.31.0,<3
python-multipart>=0.0.9,<1
openai-whisper>=20231117
gunicorn>=22.0.0,<24; sys_platform != "win32"
waitress>=3.0.0,<4; sys_platform == "win32"
